.customButton {
    color: rgb(0, 0, 0);
    display: inline-block;
    text-transform: capitalize;
    text-align: center;
    line-height: 1em;
    padding: 20px;
    margin: 3px 0px;
    width: 210px;
    font-family: inherit;
    font-size: 20px;
    background: #fffc5a;
    border-radius: 5px;
    font-weight: 1000;
    box-shadow: 2px 2px 0px 0px rgb(255, 35, 35);
    border-color: rgb(0, 0, 0);
}

.pokemon-list {
    list-style-type: none;
}

.customButton:hover {
    cursor: pointer;
}
