.customButton {
    color: rgb(248, 213, 57);
    display: inline-block;
    text-transform: capitalize;
    text-align: center;
    line-height: 1em;
    padding: 20px;
    margin: 3px 0px;
    width: 210px;
    font-family: inherit;
    font-size: 32px;
    background: #fd5555;
    border-radius: 10px;
    font-weight: 1000;
    border-width: thick;
    border-color: rgb(81, 111, 194);
    box-shadow: 1px 1px 0px 0px rgb(0, 0, 0);
}

.pokemon-list {
    list-style-type: none;
}

.customButton:hover {
    cursor: pointer;
}
